*.log
*.orig
*.so*
.*.swp
.clang-format
.iocsh_history
.vscode
/.idea/
/bin/
/build/
/cfg/
/configure/*.local
/configure/CONFIG_SITE.Common.*
/configure/TOOLCHAIN.tmp
/db/
/dbd/
/dist/
/documentation/_static/*
/documentation/_static/.*
!/documentation/_static/*
/include/
/lib/
/results/
/templates/
/test/slac-test
EPICS_CA.pem
O.*/
__pycache__/
login_certs.txt
system_certs.txt
