include pyproject.toml
include COPYRIGHT
include LICENSE
include README.md

include configure/CONFIG_PVXS_VERSION
include src/*.h
include src/*.h@
include src/*.cpp
include src/pvxs/*.h
include src/pvxs/*.h@
include src/os/default/*.cpp
include src/os/WIN32/*.cpp

include bundle/libevent/LICENSE
include bundle/libevent/cmake/VersionViaGit.cmake
include bundle/libevent/*.h
include bundle/libevent/*.h.cmake
include bundle/libevent/include/*.h
include bundle/libevent/compat/sys/*.h
include bundle/libevent/include/event2/*.h
include bundle/libevent/*.c
